---
title: Student Success Styleguide
---
<div class="container">
  <div class="row">

    <div class="col-sm-3">
      <nav id="toc" data-spy="affix" data-toggle="toc"></nav>
    </div>

    <div class="col-sm-9">
      <h1>Panorama Style Guide</h1>

      <h2>Introduction</h2>
      <p>As Panorama continues to grow into new product areas one challenge we are faced with is learning how to refine the Panorama brand identity and apply it cohesively to each of our products. We created this styleguide to act as a central location where we house a live inventory of UI components, brand guidelines, brand assets, code snippets, and developer guidelines.</p>
      <p>This guide is currently tied to the NDS work, but it also contains styles that we use in our reports product.</p>
      <p>The only way we can keep this guide relevant and useful is if all members stay familiar with this styleguide and help ensure that it is kept up-to-date.</p>

      <h3>Guiding Principles</h3>
      <ol>
        <li>Squad members stay familiar with this guide and have the agency to keep it up to date.</li>
        <li>Engineers try to reuse elements before creating new elements.</li>
        <li>Designers try to reuse elements before creating new elements.</li>
        <li>Squad members recognize the style guide must evolve and change to meet the requirements of an evolving product.</li>
      </ol>

      <%= partial "stylist/typography" %>

      <%= partial "stylist/colors" %>

      <%= partial "stylist/standards" %>

      <%= partial "stylist/buttons" %>

      <%= partial "stylist/modals" %>

      <%= partial "stylist/attributes" %>

      <%= partial "stylist/copy" %>
    </div>
  </div>
</div>
